<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
table {
	border-collapse: collapse;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

th {
	border: 1px solid black;
	background-color: gray;
	color: white;
}
</style>
<title>Thymeleaf Sample</title>
</head>
<body>
	<h3>ページネーションを利用した一覧表</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
        </tr>
        <tr th:each="book:${listBook}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
        </tr>
    </table>
</body>
</html>