<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
table {
	border-collapse: collapse;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

th {
	border: 1px solid black;
	background-color: gray;
	color: white;
}
</style>
<title>数当てゲーム</title>
</head>
<body>
	<h1>数当てゲーム</h1>
	<form method="post" action="/sendMyAnswer" th:object="${answerForm}">
		<input type="number" th:field=*{answerNumber}>
		<div th:if="${#fields.hasErrors('answerNumber')}" th:errors="*{answerNumber}" th:errorclass="red"></div>
		<button type="submit">回答送信</button>
		<!-- 答え合わせの結果を表示する -->
		<th:block th:if="*{result}!=null">
			<div>[[*{result}]]</div>
		</th:block>
		<!-- エラーを表示する -->
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
	</form>
	<th:block th:if="${listResult}!=null">
		<table>
			<tr>
				<th>No.</th>
				<th>回答</th>
				<th>結果</th>
			</tr>
			<tr th:each="result:${listResult}">
				<td>[[${result.seqNum}]]</td>
				<td>[[${result.answerNumber}]]</td>
				<td>[[${result.result}]]</td>
			</tr>
		</table>
	</th:block>
</body>
</html>
