<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>listPerson.html</title>
</head>
<body>
	<h4>MyBatis APP</h4>
	<div>
		<form th:action="@{/}" method="post" th:object="${searchConditionForm}">
			<!-- <input type="text" th:field="*{shimei}" size="40" placeholder="名前を入力してください"> -->
			<!-- <input type="text" name="shimei" size="40" th:value="*{shimei}" placeholder="名前を入力してください"> -->
			<input type="text" th:field="*{shimei}" size="40" placeholder="名前を入力してください">
			<button type="submit" th:formaction="@{/search/name}">完全一致検索</button>
			<button type="submit" th:formaction="@{/search/name/like}">部分一致検索</button>
		</form>
	</div>
	<th:block th:if="0<${persons.getTotalElements()}">
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>名前</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${persons}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.name}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>
	<th:block th:if="0<${persons.getTotalPages()}">
		<ul id="nav">
			<li>
				<span th:if="${persons.isFirst()}">←前</span>
				<a th:unless="${persons.isFirst()}" th:href="@{/query/person(page = ${persons.getNumber() - 1})}">←前</a>
			</li>
			<li th:each="i : ${#numbers.sequence(0, persons.getTotalPages() - 1)}">
				<span th:if="${i == persons.getNumber()}" th:text="${i + 1}"></span>
				<a th:unless="${i == persons.getNumber()}" th:href="@{/query/person(page = ${i})}" th:text="${i + 1}"></a>
			</li>
			<li>
				<span th:if="${persons.isLast()}">次→</span>
				<a th:unless="${persons.isLast()}" th:href="@{/query/person(page = ${persons.getNumber()+ 1})}">次→</a>
			</li>
		</ul>
	</th:block>
	<div>
		<h1>連携データ情報</h1>
		<hr>
		<div>${persons}</div>
		<div th:text="${persons}">default</div>
		<hr>
		<div>${persons.getTotalElements()}</div>
		<div th:text="${persons.getTotalElements()}">default</div>
		<hr>
		<div>${persons.isFirst()}</div>
		<div th:text="${persons.isFirst()}">default</div>
		<hr>
		<div>${persons.getNumber()}</div>
		<div th:text="${persons.getNumber()}">default</div>
		<hr>
		<div>${persons.getTotalPages()}</div>
		<div th:text="${persons.getTotalPages()}">default</div>
		<hr>
		<div>${persons.isLast()}</div>
		<div th:text="${persons.isLast()}">default</div>
	</div>
</body>
</html>